{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="author" content="www.frebsite.nl" />
	<meta name="viewport"
		content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />

	<title>{% block title %}LearnUp - Online Course & Education HTML Template{% endblock %}</title>

	<link href="{% static 'css/styles.css' %}" rel="stylesheet">
	<link href="{% static 'css/colors.css' %}" rel="stylesheet">
	
	{% block extra_css %}{% endblock %}
</head>

<body class="red-skin">
	<!-- Preloader -->
	<div id="preloader">
		<div class="preloader"><span></span><span></span></div>
	</div>

	<!-- Main wrapper -->
	<div id="main-wrapper">

		<!-- Navigation Header -->
		<div class="header header-light head-shadow">
			<div class="container">
				<nav id="navigation" class="navigation navigation-landscape">
					<div class="nav-header">
						<!-- YAHA CHANGE KIYA - main_app:home -->
						<a class="nav-brand" href="{% url 'main_app:home' %}">
							<img src="{% static 'img/Untitled-design.png' %}" class="logo" alt="" />
						</a>
						<div class="nav-toggle"></div>
					</div>
					<div class="nav-menus-wrapper">
						<ul class="nav-menu">

							<li class="active"><a href="#">HOME<span class="submenu-indicator"></span></a>
								
							</li>

							<li><a href="#">SERVICES<span class="submenu-indicator"></span></a>
								
							</li>

							<li><a href="#">ABOUT<span class="submenu-indicator"></span></a>
								
							</li>

							<li><a href="#">BLOG<span class="submenu-indicator"></span></a>
								
							</li>
							<li><a href="#">CONTACT<span class="submenu-indicator"></span></a>

						</ul>


						<ul class="nav-menu nav-menu-social align-to-right">
							{% if user.is_authenticated %}
								<!-- User logged in hai -->
								<li class="become-tutor">
									<a href="#"><i class="bi bi-person-circle"></i>Welcome, {{ user.username }}</a>
								</li>
								<li class="join-btn">
									<!-- LOGOUT LINK BHI FIX KIYA -->
									<a href="{% url 'main_app:admin_logout' %}"><i class="bi bi-box-arrow-right"></i>Logout</a>
								</li>
							{% else %}
								<!-- User logged in nahi hai -->
								<li class="become-tutor">
									<a href="{% url 'main_app:user_register' %}"><i class="bi bi-person-circle"></i>Register Now</a>
								</li>
								<li class="join-btn">
									<!-- LOGIN LINK FIX KIYA -->
									<a href="{% url 'main_app:admin_login' %}"><i class="bi bi-box-arrow-in-right"></i>Login</a>
								</li>
							{% endif %}
						</ul>
					</div>
				</nav>
			</div>
		</div>
		<!-- End Navigation -->
		<div class="clearfix"></div>

		<!-- Main Content Block -->
		{% block content %}
		<!-- Page specific content goes here -->
		{% endblock %}

	</div>

	<!-- Scripts -->
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/popper.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/select2.min.js' %}"></script>
	<script src="{% static 'js/slick.js' %}"></script>
	<script src="{% static 'js/jquery.counterup.min.js' %}"></script>
	<script src="{% static 'js/counterup.min.js' %}"></script>
	<script src="{% static 'js/custom.js' %}"></script>

	{% block extra_js %}{% endblock %}

</body>

</html>